{% load static %}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/front.css' %}">
<title> Front </title>
</head>
<body>

<div style="background-color:rgba(211, 211, 211, 0.925);"> 
    <div class="container-fluid" style="width: 100%; height:40px; background-color:rgb(100, 182, 223);">
      <nav>  
      <ul style="padding-top:10px;">
        <li style=" list-style-type: none;">       
          <a  href="#about" style="margin-left: 910px; color:white;" > About Us </a>
          <a  href="#curriculum" style="padding-left:25px; color: white; "> Curriculum </a>
          <a  href="#contact" style="padding-left:25px;color:white;"> Contact </a>    
        </li>
      </ul>
    </nav>
    </div>
    <div style="width: 100%;">
    <div style="background: url(/static/images/main.jpg); width: 100%;height:400px;">
      <h1 style = " margin-bottom:100px;font:600; font-weight: bold; color: #fff;">
      <p style="margin-left:50px;font-size:70px; padding: 150px 0px 0px 90px;">SHODHANA </p> 
      <p style="margin-left:350px;font-size:100; padding: 20px 0px 0px 90px;">DREAMS INTO REALITY...!  </p>
    </div>

<div id="about" style="background-color:black;width: 100%;height:250px;">
<p style="font-size:20px;margin-left:34%; padding-top:20px; color:white;">What is Atal Tinkering Laboratories?</p>
<p style="font-size:20px;margin-left:20px;padding-top:10px; color:white;">The Government of India has setup the Atal Innovation Mission (AIM) at NITI Aayog. 
Realizing the need to create scientific temper and cultivate the spirit of curiosity 
and innovation among young minds, AIM proposes to support establishment of a network of 
Atal Tinkering Laboratories (ATL) in India. ATL is a work space where young minds can 
give shape to their ideas through hands on do-it-yourself mode and learn / develop 
innovation skills. 
The vision is to ‘Cultivate 1 Million children in India as Neoteric1 Innovators’.</p>
</div>

<div id="curriculum" class="col-md-12" style="width:100%;height:1307px;background-color:rgb(128, 173, 209);"> 

          <span style="font-weight:bold;font-size:30px; margin-top:20px;margin-left:550px;">
          CURRICULUM
          </span>
  
    <div class="row">
        <div class="col-md-6">
                <div  style="background: url(/static/images/jana.jpg); 
                width:600px;height:400px;float:left;margin-left:20px;">
                <a  data-toggle="collapse" href="#collapseExample1" role="button" 
                aria-expanded="false" aria-controls="collapseExample1" >
                <h1 style=" margin-left:30%;margin-top:20px;font-weight:bolder; font-size:20px;color:black;">JNANA PRACHAR<p>
                (Training support)</p></h1></a>
                <div class="collapse" id="collapseExample1">
                <p style="margin-left:20%;color: black;font-size:15px;font-weight:bolder;"> JNANA PRACHAR (Training support):</p>
                <p style="margin-left:10%;color: black;font-size:15px;font-weight:bolder;">Once the lab set-up is done, we provide  a week training to respective faculties in your tinkering lab.</p>
                </div>
                </div>
        </div>                
        <div class="col-md-6">
                <div  style="background: url(/static/images/masikaa.jpg);
                width:600px;height:400px;float:left;margin-left:11px;">
                <a  data-toggle="collapse" href="#collapseExample2" role="button" 
                aria-expanded="false" aria-controls="collapseExample" >
                <h2 style=" margin-left:30%;margin-top:30px; font-weight:bolder;font-size:15px; color:black;">MASIKA KRIYA YOJHANA
                  <p>(Monthly Activity Plan)</p>
                </h2>
                </a>
                <div class="collapse" id="collapseExample2">
                <p style="margin-left:10%;color: black;font-size:15px;font-weight:bolder;"> MASIKA KRIYA YOJHANA(Monthly Activity Plan):</p>
                <p style="margin-left:10%;color: black;font-size:15px;font-weight:bolder;">Monthly activity plan dairy is given to the in-charge faculty to train the students. 
                </p>
                </div>
                </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
                <div  style="background: url(/static/images/sutra.jpg);
                width:600px;height:400px;float:left;margin-left:20px;margin-top:30px;">
                <a  data-toggle="collapse" href="#collapseExample3" role="button" 
                aria-expanded="false" aria-controls="collapseExample" >
                <h1 style=" margin-left:30%;margin-top:30px; font-size:15px;color:white;font-weight:bolder;">SUTRA PATYA<p>(Hand Book)</p>
                </h1>
                </a>
                <div class="collapse" id="collapseExample3">
                <p style="margin-left:25%;color: white;font-size:15px;font-weight:bolder;">SUTRA PATYA(Hand Book): </p>
                <p style="margin-left:10%;color: white;font-size:15px;font-weight:bolder;">we provide the manual on Microcontroller boards, raspberry-pi, 3-D printing and some basic components as hard copy and soft copy.
                </p>
                </div>
                </div>
        </div>
     
          <div class="col-md-6">
                <div  style="background: url(/static/images/doit.jpg);
                width:600px;height:400px;float:left;margin-left:11px;margin-top:30px;">
                <a  data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample" >
                <h1 style="margin-left:30%;margin-top:15px; color:white; font-size:20px;">Do It Yourself KIT
                </h1>
                </a>
                <div class="collapse" id="collapseExample4">
                <p style="margin-left:35%;color: white;font-size:15px;">  Do It Yourself KIT</p>
                <p style="margin-left:10%;color: white;font-size:15px;"> The DIY kits will be provided to students to make out the innovation things which will helps them to learn real-time applications.
                </p>
                </div>
              </div>
          </div>



          
             
            <div  style="background: url(/static/images/spardha.jpg); 
            width:100%;height:400px;float:left;margin-bottom:20px;margin-top:30px;margin-right:25px;margin-left:35px;">
            <a  data-toggle="collapse" href="#collapseExample5" role="button" 
            aria-expanded="false" aria-controls="collapseExample" >
            <h1 style="margin-left:30%;margin-top:20px; color:black;font-weight:bolder; font-size:20px;color:black;">SPARDHA
              <p>(Competitions)</p>
            </h1>
            </a>
            <div class="collapse" id="collapseExample5">
            <p style="margin-left:25%;color: black;font-weight:bolder;font-size:15px;">SPARDHA(Competitions):</p>
            <p style="margin-left:10%;color: black; font-weight:bolder;margin-left:10px;font-size:15px;" >we provide the manual on Microcontroller boards, raspberry-pi, 3-D printing and some basic components as hard copy and soft copy.</pstyle="color: white;">
            </p>
            </div>
            </div>
              
         
</div>

</div>


<div id="contact" style="width:100%;height:400px;">
      <span style=" font-size:30px;font-weight:bolder;margin-left:550px;">  CONTACT US </span>  

      {% load crispy_forms_tags %}
            <div class="row" 
            style="width:100%;height:300px;background-color:rgb(14, 119, 122);">
                <div class="col-sm-4">
                    <form method="POST"
                    style="background-color:darkseagreeny;margin-top:40px;margin-left:400px;width:100%;height:200px;">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" class="btn btn-success" value="Save">
                    </form>
                </div>
      </div>
</div>










<div class="container-fluid" style="background-color: black;width:100%;height:300px;">

<footer class="page-footer font-small special-color-dark pt-4">
  <div class="row">
    <div  class="col-md-4"><ul style="color:white;list-style:none;margin-left:150px;margin-top:50px;">
      <li><a  href="#">Linkedln</a></li></ul></div>
    <div class="col-md-4"><ul style="color:white;list-style:none;margin-left:150px;margin-top:50px;"><li ><a  href="#">Facebook</a></li></ul></div>
    <div class="col-md-4"><ul style="color:white;list-style:none;margin-left:150px;margin-top:50px;"><li><a  href="#">Twitter</a></li></ul></div>
    
      
      
    </ul>
  </div>
    <div class="footer-copyright text-center py-3"style="color:white;margin-top:90px;">© 2020 Copyright :
    <a href="#"> Shodhana.com</a>
    </div>
</footer>

</div>

</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</body>

</html>