{% load static %}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/front.css' %}">
<title> Front </title>
</head>
<body>

<div style="background-color:rgba(211, 211, 211, 0.925);"> 
    <div class="container-fluid" style="width: 100%; height:40px; background-color:rgb(100, 182, 223);">
      <nav>  
      <ul style="padding-top:10px;">
        <li style=" list-style-type: none;">       
          <a  href="#" style="margin-left: 910px; color:white;" > About Us </a>
          <a  href="#" style="padding-left:25px; color: white; "> Curriculum </a>
          <a  href="#" style="padding-left:25px;color:white;"> Contact </a>    
        </li>
      </ul>
    </nav>
    </div>
    <div class="container-fluid" style="width: 100%;">
    <div style="background: url(/static/images/background.jpg); width: 100%;height:400px;">
      <h1 style = " margin-bottom:100px;font:600; left: 3em;font-weight: bold; color: #fff;">
      <p style="margin-left:50px;font-size:70px; padding: 150px 0px 0px 90px;">SHODHANA </p> 
      <p style="margin-left:350px;font-size:100; padding: 20px 0px 0px 90px;">DREAMS INTO REALITY...!  </p>
    </div>

<div style="background-color:black;width: 100%;height:250px;">
<p style="font-size:20px;margin-left:20px; padding-top:20px; color:white;">What is Atal Tinkering Laboratories?</p>
<p style="font-size:20px;margin-left:20px;padding-top:10px; color:white;">The Government of India has setup the Atal Innovation Mission (AIM) at NITI Aayog. 
Realizing the need to create scientific temper and cultivate the spirit of curiosity 
and innovation among young minds, AIM proposes to support establishment of a network of 
Atal Tinkering Laboratories (ATL) in India. ATL is a work space where young minds can 
give shape to their ideas through hands on do-it-yourself mode and learn / develop 
innovation skills. 
The vision is to ‘Cultivate 1 Million children in India as Neoteric1 Innovators’.</p>
</div>

<!-- <div class="col-md-12" style="width:100%;height:444px;background-color:steelblue;"> -->
          <span style="font-weight:bold;font-size:30px; padding:10px;">
          CURRICULUM
          </span>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
                <div  style="background: url(/static/images/janaprachar.jpg); 
                width:400px;height:200px;float:left;">
                <a  data-toggle="collapse" href="#collapseExample1" role="button" 
                aria-expanded="false" aria-controls="collapseExample1" >
                <h1 style=" margin-left:30%;margin-top:20px;font-weight:bolder; font-size:20px;color:black;">JNANA PRACHAR<p>
                (Training support)</p></h1></a>
                <div class="collapse" id="collapseExample1">
                <p style="margin-left:10%;color: black;font-size:15px;font-weight:bolder;"> JNANA PRACHAR (Training support):</p>
                <p style="margin-left:10%;color: black;font-size:15px;font-weight:bolder;">Once the lab set-up is done, we provide  a week training to respective faculties in your tinkering lab.</p>
                </div>
                </div>
        </div>                
        <div class="col-md-4">
                <div  style="background: url(/static/images/masika.jpg);
                width:400px;height:200px;float:left;">
                <a  data-toggle="collapse" href="#collapseExample2" role="button" 
                aria-expanded="false" aria-controls="collapseExample" >
                <h2 style=" margin-left:30%;margin-top:30px; font-weight:bolder;font-size:15px; color:black;">MASIKA KRIYA YOJHANA
                  <p>(Monthly Activity Plan)</p>
                </h2>
                </a>
                <div class="collapse" id="collapseExample2">
                <p style="margin-left:10%;color: black;font-size:15px;font-weight:bolder;"> MASIKA KRIYA YOJHANA(Monthly Activity Plan):</p>
                <p style="margin-left:10%;color: black;font-size:15px;font-weight:bolder;">Monthly activity plan dairy is given to the in-charge faculty to train the students. 
                </p>
                </div>
                </div>
        </div>
        <div class="col-md-4">
                <div  style="background: url(/static/images/sparda.jpg);
                width:400px;height:200px;float:left;">
                <a  data-toggle="collapse" href="#collapseExample3" role="button" 
                aria-expanded="false" aria-controls="collapseExample" >
                <h1 style=" margin-left:30%;margin-top:30px; font-size:15px;color:black;font-weight:bolder;">SUTRA PATYA<p>(Hand Book)</p>
                </h1>
                </a>
                <div class="collapse" id="collapseExample3">
                <p style="margin-left:30%;color: black;margin-left:10px;font-size:15px;font-weight:bolder;">SUTRA PATYA(Hand Book): </p>
                <p style="margin-left:10%;color: black;margin-left:10px;font-size:15px;font-weight:bolder;">we provide the manual on Microcontroller boards, raspberry-pi, 3-D printing and some basic components as hard copy and soft copy.
                </p>
                </div>
                </div>
        </div>
    </div>
</div>
          <div class="container-fluid" style="margin-top: 15px;">
            <div class="row">
              <div class="col-md-4">
                <div  style="background: url(/static/images/doityourself.jpg);
                width:400px;height:200px;float:left;">
                <a  data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample" >
                <h1 style="margin-left:30%;margin-top:15px; color:white; font-size:20px;">Do It Yourself KIT
                </h1>
                </a>
                <div class="collapse" id="collapseExample4">
                <p style="margin-left:35%;color: white;font-size:15px;">  Do It Yourself KIT</p>
                <p style="margin-left:10%;color: white;font-size:15px;"> The DIY kits will be provided to students to make out the innovation things which will helps them to learn real-time applications.
                </p>
                </div>
              </div>
            </div>
          


          <div class="col-md-4">
                <div  style="background: url(/static/images/sparda.jpg);
                width:400px;height:200px;float:left;">
                <a  data-toggle="collapse" href="#collapseExample5" role="button" 
                aria-expanded="false" aria-controls="collapseExample" >
                <h1 style="margin-left:30%;margin-top:20px; color:black;font-weight:bolder; font-size:20px;color:black;">SPARDHA
                  <p>(Competitions)</p>
                </h1>
                </a>
                <div class="collapse" id="collapseExample5">
                <p style="margin-left:25%;color: black;font-weight:bolder;font-size:15px;">SPARDHA(Competitions):</p>
                <p style="margin-left:10%;color: black; font-weight:bolder;margin-left:10px;font-size:15px;" >we provide the manual on Microcontroller boards, raspberry-pi, 3-D printing and some basic components as hard copy and soft copy.</pstyle="color: white;">
                </p>
                </div>
                </div>
          </div>

        <div class="col-md-4">
            <div  style="background: url(/static/images/3.jpg);
            width:400px;height:200px;float:left;">
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1" style="margin-left:40px;margin-top:10px;color:white;">Email address</label>
                  <input style="width:300px;height:20px; margin-left:40px;" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1"  style="margin-left:40px;color:white;">Password</label>
                  <input style="width:300px;height:20px;margin-left:40px;" type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button  style="margin-top:10px; margin-left:255px; " type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
      </div>
  
    
<div class="container-fluid" style="width:100%; height:250px; margin-top:0px;background-color:rgb(138, 54, 54);">
  <span style="color:white; font-size:40px; margin-left:20px;font-weight:600;">  Contact us </span>
            <form name="contentForm" enctype="multipart/form-data" method="" action="" role="form" data-toggle="validator" novalidate="true">
              <div class="row margin-top-l col-md-12" style="margin-top:45px;">
                    <div class="form-group col-md-4">
                      <label for="full_name" class="sr-only">Full Name: </label>
                      <input name="full_name" id="full_name" placeholder="Full name" type="text" value="" required="required" data-error="Please enter your full name.">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="phone_number" class="sr-only">Phone Number: </label>
                      <input name="phone_number" id="phone_number" placeholder="Phone number" type="text" value="" required="required" data-error="Please enter your phone number">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="email" class="sr-only">Email Address: </label>
                      <input name="email" id="email" placeholder="Email Address" type="email" value="" required="required" data-error="Please enter a valid email.">
                      <div class="help-block with-errors"></div>
              </div>
              <div class="form-group text-center">
              <input style="margin-left:500px;size:20px;" class="submit center-block btn btn-dark" value="Submit" type="submit">
              </div>
            </div>
</div>
</div>

<div class="container-fluid" style="background-color: black;width:100%;height:300px;">

<footer class="page-footer font-small special-color-dark pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4">
                <form class="form-inline">
                      <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                      aria-label="Search"style="margin-top:65px;">
                      <i class="fas fa-search" aria-hidden="true"></i>
                </form>
            </div>
            <div class="col-md-6 mb-4">
                    <form class="input-group"style="margin-top:65px;">
                          <input type="text" class="form-control form-control-sm" placeholder="Your email"
                          aria-label="Your email" aria-describedby="basic-addon2">
                          <div class="input-group-append">
                                <button class="btn btn-sm btn-outline-white my-0" type="button">Sign up</button>
                          </div>
                    </form>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3"style="color:white;margin-top:35px;">© 2020 Copyright:
    <a href="#"> Shodhana.com</a>
    </div>
</footer>

</div>

</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</body>

</html>